@using System.Reflection

<footer>

    <div class="footer clearfix mb-0 text-muted">

        <hr />

        <div class="float-start">
            ASP.NET Core @System.Environment.Version 
            <p>@typeof(System.Runtime.GCSettings).GetTypeInfo().Assembly.Location</p>
        </div>

        <div class="float-end">
            <p> <a href="https://mumcusoft.com" target="_blank">Emre Mumcu</a> &copy;2022 </p>
        </div>

    </div>

</footer>